<nz-layout style="min-height: 100vh;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzCollapsedWidth]="0" [nzBreakpoint]="'md'">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-menu-item>
        <a href="javascript:;" [routerLink]="'index'">
          <span title><i class="anticon anticon-home"></i><span class="nav-text">首页</span></span>
        </a>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">教师</span></span>
        <ul>
          <li nz-menu-item>
            <a href="javascript:;" [routerLink]="'teacher/teacher-plan'">
              <span title><i class="anticon anticon-home"></i><span class="nav-text">教学计划</span></span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-menu-item>
        <a href="javascript:;" [routerLink]="'upload'">
          <span><i class="anticon anticon-file"></i><span class="nav-text">PDF上传</span></span>
        </a>
      </li>
      <li nz-menu-item>
        <a href="javascript:;" [routerLink]="'leaveMessage'">
          <span><i class="anticon anticon-file"></i><span class="nav-text">留言</span></span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;border-bottom: 1px dashed gray">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
      <div class="nav-icon-wraper">
        <nz-badge [nzCount]="5" style="top:-3px;">
          <ng-template #content>
            <a class="head-example">
              <nz-avatar nzIcon="bell" nz-dropdown class="icon"></nz-avatar>
            </a>
          </ng-template>
        </nz-badge>
      </div>
      <div class="nav-icon-wraper">
        <nz-dropdown [nzTrigger]="'click'">
          <nz-avatar nzIcon="user" style="top:10px;" nz-dropdown class="icon"></nz-avatar>
          <ul nz-menu>
            <li nz-menu-item>
              <a href="javascript:;"><i class="anticon anticon-setting" style="margin-right: 10px"></i>个人设置</a>
            </li>
            <li nz-menu-item (click)="quit()">
              <a href="javascript:;"><i class="anticon anticon-poweroff" style="margin-right: 10px"></i>退出登录
              </a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:12px 0;">

        <nz-breadcrumb-item *ngIf="links.parentLink!=''">{{links.parentLink|covertLink}}</nz-breadcrumb-item>
        <nz-breadcrumb-item *ngIf="links.childLink!=''">{{links.childLink|covertLink}}</nz-breadcrumb-item>

      </nz-breadcrumb>
      <div style="padding:0; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
