:host ::ng-deep .logo {
  height: 32px;
  margin: 16px;
  font-size: 14px;
  line-height: 32px;
  color: white;
}

:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .trigger:hover {
  color: #108ee9;
}
:host ::ng-deep .nav-icon-wraper{
  display: inline-block;
  line-height: 64px;
  float: right;
  margin-right: 20px;
}
:host ::ng-deep .nav-icon-wraper .icon{
  cursor: pointer;
}
.ant-dropdown-menu-item:hover>a{
  color: green;
}
.head-example {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background: #eee;
  display: inline-block;
}
