<div class="clearfix" style="margin-bottom: 15px;">
  <nz-cascader
    [class.class123]="true"
    [nzOptions]="_options"
    [(ngModel)]="_value"
    (ngModelChange)="_console($event)"
    [nzPlaceHolder]="'请选择科目和章节'"
    [nzAllowClear]="false"
    (nzChange)="_console($event)">
  </nz-cascader>
</div>
<div class="clearfix">
  <nz-upload
    nzAction="http://localhost:3000/server/upload"
    nzListType="picture-card"
    [nzHeaders]="Header"
    [(nzFileList)]="fileList"
    [nzShowButton]="fileList.length < 3"
    [nzMultiple]="true"
    [nzLimit]="0"
    [nzData]="{'targetfile':selectedChapter}"
    [nzAccept]="'image/*'"
    (nzChange)="statuChange($event)"
    [nzPreview]="handlePreview">
    <i class="anticon anticon-plus"></i>
    <div class="ant-upload-text">Upload</div>
  </nz-upload>
  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
    </ng-template>
  </nz-modal>
</div>
