:host ::ng-deep .ant-carousel .slick-slide {
  //text-align: left;
  //height: 500px;
  ////line-height: 160px;
  //background: #364d79;
  //color: #fff;
  //overflow: hidden;
  //position: relative;
  //min-height: 350px;
  overflow: hidden;
}
img{
  width: 75%;
}
nz-carousel /deep/ .content{
  display: flex!important;
  justify-content: center;
  align-items: center;
}
