.add{
  position: absolute;
  left: 0;
  top:-50px;
  div{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border:1px solid  #c7c1c1;
    border-radius: 50%;
    transition:all ease 0.5s;
    box-shadow: 0 2px 0 rgba(0,0,0,0.3);
    &:hover{
      border-color: grey;
    }
    &:active{
      position: relative;
      top:-2px;
    }
    i{
      color:#27a227;
      line-height: 80px;
      transition:all ease 0.5s;
      :hover{
        color:green;
      }
    }
  }
}
