<div class="mycontainer">
  <div class="button-wrapper" style="height: 28px;">
    <button nz-button [nzType]="'primary'" *ngIf="!show" (click)="show=!show">返回章节列表</button>
  </div>
<div class="link-wrapper" id="link-wrapper" [@displayPic]="show?'show':'hide'">
<nz-card nzNoHovering>
  <ng-template #title>卡片标题</ng-template>
  <ng-template #body >
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <div class="card" [ngStyle]="gridStyle" *ngFor="let card of cardsContent;let i=index;" (click)="navgateToPic(card.urls)">
      <p>{{card.chapter}}</p>
      <p>{{card.des}}</p>
    </div>
  </ng-template>
</nz-card>
</div>
<div id="img-wrapper" [@displayPic]="show?'show':'hide'" [ngStyle]="{'right':show?'-40px':'0'}">
  <app-display-pic *ngIf="!show" [Imgs]="imgUrls"></app-display-pic>
</div>
</div>
