<nz-timeline>
  <div class="plan" *ngFor="let item of Plans">
    <nz-timeline-item [nzColor]="'green'">{{item.message}}</nz-timeline-item>
  </div>
</nz-timeline>
<nz-card nzNoHovering>
  <ng-template #title>卡片标题</ng-template>
  <ng-template #body >
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <!--<div nz-card-grid [ngStyle]="gridStyle">卡片内容</div>-->
    <div class="card" [ngStyle]="gridStyle" *ngFor="let card of cardsContent" (click)="navgateToPic()">
      <p>{{card.chapter}}</p>
      <p>{{card.des}}</p>
    </div>
  </ng-template>
</nz-card>
