/* You can add global styles to this file, and also import other style files */
nz-timepicker /deep/ .ant-time-picker-input,nz-datepicker /deep/ .ant-calendar-picker-input{
  color:black;
}
.myTextarea{
  width: 100%;
  padding:5px;
  color:black;
}
.emoji{
  display:inline-block;
  transform:scale(0.6);
}
